{"openapi":"3.1.0","info":{"title":"Inventory Service API","description":"창고 및 재고 이동 이력 서비스 API","version":"v0.0.1"},"servers":[{"url":"https://api.erp007.xyz/api"}],"security":[{"bearer-jwt":[]}],"tags":[{"name":"StockMovement","description":"재고 이동 이력 API"},{"name":"BranchLocation","description":"소속 지점 마스터 API"},{"name":"Stock","description":"재고 API"},{"name":"Warehouse","description":"창고 API"},{"name":"Stock Internal","description":"재고 내부 연계 API"},{"name":"Warehouse Internal","description":"창고 내부 연계 API"}],"paths":{"/inventory/warehouses/{code}":{"get":{"tags":["Warehouse"],"summary":"창고 단건 조회","description":"수정 모달 프리필을 위해 창고 코드로 전체 필드를 조회한다(branchId·address·version 포함).","operationId":"detail","parameters":[{"name":"code","in":"path","description":"창고 코드 (예: WH-SE-001)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseDetailResponse"}}}}}},"put":{"tags":["Warehouse"],"summary":"창고 수정","description":"창고명·유형·소속 지점·주소를 수정한다. code는 변경 불가이며 version으로 낙관적 락을 검증한다.","operationId":"update","parameters":[{"name":"code","in":"path","description":"창고 코드 (예: WH-SE-001)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarehouseUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseDetailResponse"}}}}}}},"/inventory/warehouses":{"get":{"tags":["Warehouse"],"summary":"창고 목록 조회","description":"검색어/유형/상태 필터와 정렬로 창고 목록을 조회한다. 매칭 0건이어도 200과 빈 배열을 반환한다.","operationId":"list","parameters":[{"name":"keyword","in":"query","description":"창고명 또는 창고 코드 부분 일치 (예: 본사 중앙창고, WH-02-001)","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","description":"창고 유형 필터","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"활성 상태 필터 (기본 ALL)","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"정렬 (Spring Data 포맷, 기본 code,asc). 속성: code/name/type/createdAt, 방향: asc/desc","required":false,"schema":{"type":"string"},"example":"code,asc"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseListResponse"}}}}}},"post":{"tags":["Warehouse"],"summary":"창고 등록","description":"창고 추가 모달의 입력으로 신규 창고를 등록한다. active=true로 생성되며 code는 시스템 유일, DEALER는 branchId 필수·HQ는 branchId 불가.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarehouseCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponse"}}}}}}},"/inventory/stocks":{"get":{"tags":["Stock"],"summary":"재고 목록 조회","description":"부품명/SKU 검색, 창고 다중 필터(콤마 구분), 상태(NORMAL/LOW/OUT) 필터, 정렬, 페이지네이션. BRANCH 사용자는 자기 지점 창고 재고만 조회된다.","operationId":"list_1","parameters":[{"name":"keyword","in":"query","description":"부품명 또는 SKU 부분 일치","required":false,"schema":{"type":"string"}},{"name":"warehouseCodes","in":"query","description":"창고 코드 다중 필터(콤마 구분, 예: WH-SE-001,HQ-001)","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"재고 상태 필터: NORMAL / LOW / OUT","required":false,"schema":{"type":"string"}},{"name":"sort","in":"query","description":"정렬(기본 name,asc). 속성: name/quantity/safetyRatio/lastAdjustedAt, 방향: asc/desc","required":false,"schema":{"type":"string"},"example":"name,asc"},{"name":"page","in":"query","description":"페이지(1-base, 기본 1)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"페이지 크기(20/50/100 중, 기본 20)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StockListResponse"}}}}}},"post":{"tags":["Stock"],"summary":"재고 신규 생성(ADMIN)","description":"입출고 흐름 밖에서 (sku × warehouse) 재고 행을 직접 생성한다. 초기 데이터 적재·개발 검증용. 현재는 Item 마스터 검증 없이 입력값을 그대로 저장한다.","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StockCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StockCreateResponse"}}}}}}},"/inventory/stocks/adjustments":{"post":{"tags":["Stock"],"summary":"재고 조정(ADMIN·HQ_MANAGER)","description":"증가/감소/실사보정으로 재고를 보정하고 append-only 이동 이력을 1건 생성한다. 음수 재고는 거부한다.","operationId":"adjust","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StockAdjustmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StockAdjustmentResponse"}}}}}}},"/inventory/branch-locations":{"get":{"tags":["BranchLocation"],"summary":"지점 목록 조회","description":"전체 소속 지점을 id 오름차순으로 반환한다. 검색·필터 파라미터는 없으며, 0건이면 빈 배열을 반환한다.","operationId":"list_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BranchLocationListResponse"}}}}}},"post":{"tags":["BranchLocation"],"summary":"지점 등록","description":"신규 소속 지점을 마스터에 등록한다. 지점명은 trim 후 1~100자이며 시스템 내 유일하다.","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BranchLocationCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BranchLocationResponse"}}}}}}},"/internal/inventory/stocks/outbound":{"post":{"tags":["Stock Internal"],"summary":"재고 출고(내부)","description":"SO 출고의 여러 라인을 한 트랜잭션으로 차감하고 OUTBOUND 이동 이력을 라인 수만큼 기록한다. 가용재고를 검증하고 (sku×창고) 비관락으로 동시 출고를 직렬화한다. 수행자는 전파된 JWT에서 추출한다. 같은 sourceRef 재호출은 멱등(이전 결과 반환).","operationId":"outbound","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutboundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OutboundResponse"}}}}}}},"/internal/inventory/stocks/inbound":{"post":{"tags":["Stock Internal"],"summary":"재고 입고(내부)","description":"PO 입고·SO 도착의 여러 라인을 한 트랜잭션으로 증가시키고 INBOUND 이동 이력을 라인 수만큼 기록한다. 수행자는 전파된 JWT에서 추출한다. 같은 sourceRef 재호출은 멱등(이전 결과 반환).","operationId":"inbound","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InboundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InboundResponse"}}}}}}},"/inventory/warehouses/{code}/active":{"patch":{"tags":["Warehouse"],"summary":"창고 활성 상태 전환","description":"창고를 활성↔비활성으로 전환한다. 같은 값으로의 전환은 멱등(no-op)이며 version으로 낙관적 락을 검증한다.","operationId":"changeActive","parameters":[{"name":"code","in":"path","description":"창고 코드 (예: WH-SE-001)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarehouseActiveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseActiveResponse"}}}}}}},"/inventory/warehouses/hq":{"get":{"tags":["Warehouse"],"summary":"본사 창고 목록 조회(드롭다운)","description":"활성(active=true)·본사(type=HQ) 창고를 code 오름차순으로 반환한다(id·code·name 슬림). 0건이면 빈 배열.","operationId":"listHq","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseHqListResponse"}}}}}}},"/inventory/stocks/{warehouseCode}/{sku}":{"get":{"tags":["Stock"],"summary":"단건 재고 조회(창고×부품)","description":"SO 발주 라인 추가용. BRANCH_* 전용이며 자기 담당 창고만 조회 가능하다. 재고 행이 없으면 quantity=0·safetyStock=0으로 응답한다.","operationId":"detail_1","parameters":[{"name":"warehouseCode","in":"path","description":"창고 비즈니스 코드 (예: WH-SE-001)","required":true,"schema":{"type":"string"}},{"name":"sku","in":"path","description":"부품 코드 (예: EO-5W30-1L)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StockDetailResponse"}}}}}}},"/inventory/stocks/{sku}":{"get":{"tags":["Stock"],"summary":"재고 상세 패널 조회(sku)","description":"행 클릭 시 우측 상세 패널 바인딩용. 창고별 재고·상태, 전체 합계, 최근 이동 5건을 반환한다. BRANCH 사용자는 자기 지점 창고분만 집계된다.","operationId":"detailBySku","parameters":[{"name":"sku","in":"path","description":"부품 코드 (예: HMC-EN-00214)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StockSkuDetailResponse"}}}}}}},"/inventory/stocks/quantities":{"get":{"tags":["Stock"],"summary":"재고 일괄 조회(SKU 다건)","description":"warehouseCode와 skus(콤마 구분, 최대 50개)로 현재고·안전재고를 일괄 반환한다. BRANCH는 자기 지점 창고로 강제되며, 재고 행이 없는 SKU는 생략된다.","operationId":"quantities","parameters":[{"name":"warehouseCode","in":"query","description":"창고 코드 (BRANCH는 무시되고 자기 창고로 강제)","required":false,"schema":{"type":"string"}},{"name":"skus","in":"query","description":"SKU 목록(콤마 구분, 최대 50개)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StockQuantityListResponse"}}}}}}},"/inventory/stocks/movements":{"get":{"tags":["StockMovement"],"summary":"재고 이동 이력 조회","description":"부품명/SKU 검색, 창고 다중 필터(콤마 구분), 유형(INBOUND/OUTBOUND/INCREASE/DECREASE/ADJUST) 필터, 기간(기본 최근 30일), 정렬(occurredAt/delta), 페이지네이션. BRANCH 사용자는 자기 지점 창고 이력만 조회된다.","operationId":"list_3","parameters":[{"name":"keyword","in":"query","description":"부품명 또는 SKU 부분 일치","required":false,"schema":{"type":"string"}},{"name":"warehouseCodes","in":"query","description":"창고 코드 다중 필터(콤마 구분, 예: WH-SE-001,HQ-001)","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","description":"이동 유형: INBOUND / OUTBOUND / INCREASE / DECREASE / ADJUST","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"조회 시작일(ISO, 기본 30일 전)","required":false,"schema":{"type":"string"},"example":"2026-05-08"},{"name":"to","in":"query","description":"조회 종료일(ISO, 기본 오늘)","required":false,"schema":{"type":"string"},"example":"2026-06-07"},{"name":"sort","in":"query","description":"정렬(기본 occurredAt,desc). 속성: occurredAt/delta, 방향: asc/desc","required":false,"schema":{"type":"string"},"example":"occurredAt,desc"},{"name":"page","in":"query","description":"페이지(1-base, 기본 1)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"페이지 크기(20/50/100 중, 기본 20)","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MovementListResponse"}}}}}}},"/inventory/stocks/kpi":{"get":{"tags":["Stock"],"summary":"재고 KPI 조회","description":"대시보드·재고 화면 진입/새로고침 시 1회 호출. (sku×창고) 총·부족·무재고 포지션 수와 최근 7일 이동 건수를 반환한다. 집계 범위는 호출자 소속으로 강제(BRANCH는 자기 지점 창고).","operationId":"kpi","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StockKpiResponse"}}}}}}},"/inventory/health":{"get":{"tags":["health-controller"],"operationId":"health","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/internal/inventory/warehouses/{code}":{"get":{"tags":["Warehouse Internal"],"summary":"창고 검증 조회(내부)","description":"PO/SO 입출고 직전 대상 창고의 존재·활성·유형·소속을 재검증하기 위한 내부 조회. 표시용 필드는 최소화한다.","operationId":"getByCode","parameters":[{"name":"code","in":"path","description":"창고 코드 (예: WH-SE-001)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseInfoResponse"}}}}}}}},"components":{"schemas":{"WarehouseUpdateRequest":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string","maxLength":100,"minLength":0},"type":{"type":"string","minLength":1},"branchId":{"type":"integer","format":"int64"},"address":{"type":"string","maxLength":255,"minLength":0},"version":{"type":"integer","format":"int64"}},"required":["name","type","version"]},"WarehouseDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"code":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["HQ","DEALER"]},"branchId":{"type":"integer","format":"int64"},"branchName":{"type":"string"},"address":{"type":"string"},"active":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int64"}}},"WarehouseCreateRequest":{"type":"object","properties":{"code":{"type":"string","maxLength":50,"minLength":0},"name":{"type":"string","maxLength":100,"minLength":0},"type":{"type":"string","minLength":1},"branchId":{"type":"integer","format":"int64"},"address":{"type":"string","maxLength":255,"minLength":0}},"required":["code","name","type"]},"WarehouseResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"code":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["HQ","DEALER"]},"branchName":{"type":"string"},"active":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"StockCreateRequest":{"type":"object","properties":{"sku":{"type":"string","minLength":1},"itemName":{"type":"string","minLength":1},"itemUnit":{"type":"string","enum":["EA","BOX","SET","L"]},"warehouseCode":{"type":"string","minLength":1},"quantity":{"type":"integer","format":"int32"},"safetyStock":{"type":"integer","format":"int32"}},"required":["itemName","itemUnit","quantity","safetyStock","sku","warehouseCode"]},"StockCreateResponse":{"type":"object","properties":{"stockId":{"type":"integer","format":"int64"},"sku":{"type":"string"},"warehouseCode":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"safetyStock":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["NORMAL","LOW","OUT"]},"createdAt":{"type":"string","format":"date-time"}}},"StockAdjustmentRequest":{"type":"object","properties":{"sku":{"type":"string","minLength":1},"warehouseCode":{"type":"string","minLength":1},"adjustmentType":{"type":"string","enum":["INCREASE","DECREASE","ADJUST"]},"quantity":{"type":"integer","format":"int32"},"reason":{"type":"string","enum":["DAMAGE","LOST","FOUND"]},"note":{"type":"string"}},"required":["adjustmentType","quantity","reason","sku","warehouseCode"]},"StockAdjustmentResponse":{"type":"object","properties":{"movementId":{"type":"integer","format":"int64"},"stockId":{"type":"integer","format":"int64"},"sku":{"type":"string"},"warehouseCode":{"type":"string"},"previousQuantity":{"type":"integer","format":"int32"},"delta":{"type":"integer","format":"int32"},"currentQuantity":{"type":"integer","format":"int32"},"safetyStock":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["NORMAL","LOW","OUT"]},"occurredAt":{"type":"string","format":"date-time"}}},"BranchLocationCreateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":100,"minLength":0}},"required":["name"]},"BranchLocationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"OutboundLineRequest":{"type":"object","properties":{"sku":{"type":"string","minLength":1},"quantity":{"type":"integer","format":"int32"},"sourceLineNo":{"type":"integer","format":"int32"}},"required":["quantity","sku","sourceLineNo"]},"OutboundRequest":{"type":"object","properties":{"sourceRef":{"type":"string","minLength":1},"warehouseCode":{"type":"string","minLength":1},"lines":{"type":"array","items":{"$ref":"#/components/schemas/OutboundLineRequest"},"minItems":1}},"required":["lines","sourceRef","warehouseCode"]},"OutboundMovementResponse":{"type":"object","properties":{"movementId":{"type":"integer","format":"int64"},"sku":{"type":"string"},"delta":{"type":"integer","format":"int32"},"currentQuantity":{"type":"integer","format":"int32"}}},"OutboundResponse":{"type":"object","properties":{"sourceRef":{"type":"string"},"warehouseCode":{"type":"string"},"movements":{"type":"array","items":{"$ref":"#/components/schemas/OutboundMovementResponse"}}}},"InboundLineRequest":{"type":"object","properties":{"sku":{"type":"string","minLength":1},"quantity":{"type":"integer","format":"int32"},"sourceLineNo":{"type":"integer","format":"int32"}},"required":["quantity","sku","sourceLineNo"]},"InboundRequest":{"type":"object","properties":{"sourceRef":{"type":"string","minLength":1},"warehouseCode":{"type":"string","minLength":1},"lines":{"type":"array","items":{"$ref":"#/components/schemas/InboundLineRequest"},"minItems":1}},"required":["lines","sourceRef","warehouseCode"]},"InboundMovementResponse":{"type":"object","properties":{"movementId":{"type":"integer","format":"int64"},"sku":{"type":"string"},"delta":{"type":"integer","format":"int32"},"currentQuantity":{"type":"integer","format":"int32"}}},"InboundResponse":{"type":"object","properties":{"sourceRef":{"type":"string"},"warehouseCode":{"type":"string"},"movements":{"type":"array","items":{"$ref":"#/components/schemas/InboundMovementResponse"}}}},"WarehouseActiveRequest":{"type":"object","properties":{"active":{"type":"boolean"},"version":{"type":"integer","format":"int64"}},"required":["active","version"]},"WarehouseActiveResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"code":{"type":"string"},"active":{"type":"boolean"},"updatedAt":{"type":"string","format":"date-time"},"version":{"type":"integer","format":"int64"}}},"WarehouseListResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/WarehouseResponse"}},"totalElements":{"type":"integer","format":"int64"},"sort":{"type":"string"}}},"WarehouseHqListResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/WarehouseHqResponse"}}}},"WarehouseHqResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"code":{"type":"string"},"name":{"type":"string"}}},"StockListResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/StockResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"hasPrevious":{"type":"boolean"},"hasNext":{"type":"boolean"}}},"StockResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sku":{"type":"string"},"itemName":{"type":"string"},"itemUnit":{"type":"string","enum":["EA","BOX","SET","L"]},"warehouseId":{"type":"integer","format":"int64"},"warehouseCode":{"type":"string"},"warehouseName":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"safetyStock":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["NORMAL","LOW","OUT"]},"lastAdjustedAt":{"type":"string","format":"date-time"}}},"StockDetailResponse":{"type":"object","properties":{"warehouseCode":{"type":"string"},"sku":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"safetyStock":{"type":"integer","format":"int32"}}},"MovementHistoryResponse":{"type":"object","properties":{"type":{"type":"string","enum":["INBOUND","OUTBOUND","INCREASE","DECREASE","ADJUST"]},"delta":{"type":"integer","format":"int32"},"executorEmpNo":{"type":"string"},"executorName":{"type":"string"},"occurredAt":{"type":"string","format":"date-time"}}},"StockSkuDetailResponse":{"type":"object","properties":{"sku":{"type":"string"},"itemName":{"type":"string"},"itemUnit":{"type":"string","enum":["EA","BOX","SET","L"]},"majorCategory":{"type":"string"},"middleCategory":{"type":"string"},"totalQuantity":{"type":"integer","format":"int32"},"totalSafetyStock":{"type":"integer","format":"int32"},"warehouse":{"type":"array","items":{"$ref":"#/components/schemas/WarehouseStockResponse"}},"history":{"type":"array","items":{"$ref":"#/components/schemas/MovementHistoryResponse"}}}},"WarehouseStockResponse":{"type":"object","properties":{"warehouseId":{"type":"integer","format":"int64"},"warehouseCode":{"type":"string"},"warehouseName":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"safetyStock":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["NORMAL","LOW","OUT"]}}},"StockQuantityListResponse":{"type":"object","properties":{"warehouseCode":{"type":"string"},"stocks":{"type":"array","items":{"$ref":"#/components/schemas/StockQuantityResponse"}}}},"StockQuantityResponse":{"type":"object","properties":{"sku":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"safetyStock":{"type":"integer","format":"int32"}}},"MovementListResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/MovementResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"hasPrevious":{"type":"boolean"},"hasNext":{"type":"boolean"}}},"MovementResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"occurredAt":{"type":"string","format":"date-time"},"sku":{"type":"string"},"itemName":{"type":"string"},"warehouseCode":{"type":"string"},"warehouseName":{"type":"string"},"delta":{"type":"integer","format":"int32"},"type":{"type":"string","enum":["INBOUND","OUTBOUND","INCREASE","DECREASE","ADJUST"]},"unit":{"type":"string","enum":["EA","BOX","SET","L"]},"reason":{"type":"string","enum":["DAMAGE","LOST","FOUND"]},"sourceRef":{"type":"string"},"executorEmpNo":{"type":"string"}}},"StockKpiResponse":{"type":"object","properties":{"totalSkuCount":{"type":"integer","format":"int64"},"lowStockCount":{"type":"integer","format":"int64"},"noStockCount":{"type":"integer","format":"int64"},"recentAdjustCount":{"type":"integer","format":"int64"}}},"BranchLocationListResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/BranchLocationResponse"}}}},"WarehouseInfoResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"code":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["HQ","DEALER"]},"branchName":{"type":"string"},"active":{"type":"boolean"}}}},"securitySchemes":{"bearer-jwt":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}
